<header>
    <div id="header-container">
        <div class="col-4">
            <nav>
                <ul class="menu">
                    <li><a href="#anchors" class="decor">HOME</a></li>
                    <li><a href="#anchory" class="decor">ABOUT</a></li>
                    <li><a href="#anchor" class="decor">LOGIN</a></li>
                    <li><a href="/signup" class="decor">SIGN UP</a></li>
                </ul>
            </nav>
        </div>
    </div><!--Header-Container ends here-->
</header>