<head>
    <meta charset="utf-8">
    <title>RIA Assignment Two</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<footer class="main">
    <ul class="wrapper">
        <li class="icon facebook">
            <a href="#" class="fa fa-facebook"></a>
        </li>
        <li class="icon twitter">
          <a href="#" class="fa fa-twitter"></a>
        </li>
        <li class="icon instagram">
            <a href="#" class="fa fa-instagram"></a>
        </li>
        <li class="icon github">
            <a href="#" class="fa fa-github"></a>
        </li>
        <li class="icon youtube">
            <a href="#" class="fa fa-youtube"></a>
        </li>
      </ul>
</footer>