<header>
    <div id="header-container">
        <div class="col-4">
            <nav>
                <ul class="menu">
                    <li><a href="" class="decor">PACE</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-4-right">
            <nav>
                <ul class="menu">
                    <li><a href="/dashboard" class="decor">DASHBOARD</a></li>
                    <li><a href="/account" class="decor">MY ACCOUNT</a></li>
                    <li><a href="/settings" class="decor">SETTINGS</a></li>
                </ul>
            </nav>
        </div>
    </div><!--Header-Container ends here-->
</header>