<head>
    <meta charset="utf-8">
    <title>RIA Assignment Two</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300">
</head>
<body id="anchory">
    <div id="top-section-1">
        <div class="left">
            <h1>stay on track.</h1>
            <p>Pace is an application that helps individuals or teams sort out their life and hopefully get their shit together.</p>
        </div>
        <div class="right">
        </div>
    </div>
</body>