<app-header></app-header>
<head id="anchors">
    <meta charset="utf-8">
    <title>RIA Assignment Two</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300">
</head>
<body>
<div id="top-section-main">
    <div id="top-section-content">
        <h1>PACE</h1>
        <p>Revolutionizing the way we track progress.</p>
    </div>
    <div id="top-section-buttons">
        <a href="/signup"><button class="my-button"><strong>Sign Up</strong></button></a>
    </div>
    <div id="top-section-buttons">
        <a href="#anchory"><button class="my-button"><strong>Learn More</strong></button></a>
    </div>
</div>
<app-about></app-about>
<app-login></app-login>
</body>
<app-footer></app-footer>