<app-dashboard-header></app-dashboard-header>
<head>
    <meta charset="utf-8">
    <title>RIA Assignment Two</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300|Roboto">
</head>
<div id="top-section-content">
    <h1>Welcome to your Workspace!</h1>
</div>
<div class="spacing">
    <p>Your projects:</p>
    <div class="spacing1">
        <app-project-list></app-project-list>
    </div>
    <p>Your tasks:</p>
    <app-task-list></app-task-list>
</div>
<app-footer></app-footer>