#top-section-content{
    padding-top:10px;
    font-weight:700;
    color:white;
    font-family: 'Montserrat', serif;
    width:80%;
    padding-bottom:20px;
}
h1{
    font-family: 'Roboto', serif;
    font-weight:7000;
    color:black;
}

p{
    color:black;
    font-family: 'Montserrat', serif;
    font-size:1em;
    font-weight:7000;
}
