<app-dashboard-header></app-dashboard-header>
<head>
    <meta charset="utf-8">
    <title>RIA Assignment Two</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300|Roboto">
</head>
<body>
<div id="top-section-main">
    <div id="top-section-content">
        <h1>Welcome to your Dashboard!</h1>
    </div>
    <div id="middle-section">

        <a href="/workspace">
        <div class="block">
            <img src="assets/images/download11.png" alt="puzzle pic" width="300px" height="200px">
            <h2>View Workspace</h2>
        </div>
        </a>

        <a href="createproject">
        <div class="block">
            <img src="assets/images/download12.png" alt="puzzle pic" width="200px" height="200px">
            <h2>Create Project</h2>
        </div>
        </a>

        <a href="createtask">
        <div class="block">
            <img src="assets/images/download14.png" alt="puzzle pic" width="300px" height="200px">
            <h2>Create Task</h2>
        </div>
    </a>
    </div>
</div>
</body>
