<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Task Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Project</th>
            <th scope="col">Assignment</th>
            <th scope="col">Deadline</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.project }}</td>
            <td>{{ task.assignment }}</td>
            <td>{{ task.deadline }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>